# lib deps:
orjson==3.9.7

# dev deps:
pre-commit
pytest==7.4.2
pytest-cov==4.1.0
pytest-mock==3.11.1
flake8==6.1.0
pylint==3.0.0
black[jupyter]==23.9.1
mypy==1.5.1
Faker==19.6.2
factory-boy==3.3.0
ipykernel
